html {
  background: url(http://orig07.deviantart.net/17f6/f/2014/293/0/d/pokemon_x_and_y_battle_background_vs_ramos_by_phoenixoflight92-d83k6hp.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
