h1 {
  font-size: 1.5em;
}

body {
  background-color: #d6d6d6;
}

.linkColor {
  color: #cc6633;
}
.logo {
 text-align: center;
 margin-top: -130px;
 padding-bottom: 50px;
}

.headerBackground {
  background-image: url("../images/background.jpg");
  background-repeat: repeat-x;
}

.wrapper {
  margin: auto;
  width: 1100px;
}

.leftBox {
  background-color: white;
  display: inline-block;
  width: 58%;
  padding: 15px 15px 15px 15px;
}

.rightBox {
background-color: white;
display: inline-block;
width: 25%;
vertical-align: top;
text-align: centre;
padding: 15px 15px 15px 15px;
}

p {
  text-align: justify;
}

footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
