<img src="https://avatars0.githubusercontent.com/u/20128021?v=3&s=460" alt="antz84 GitHub profile pic">

<article>
  <p>Hi, I'm Anthony, an aspiring web developer.</p>
  <p>I am studying at GA in Melbourne!</p>
  <p>I'm obviously a rockstar when it comes to code ;)</p>
  <p>Thanks for checking out my blog site.</p>
</article>
