<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="styles.css">
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>The retro stock market exchange</h1>
	
	<h2>The Company <%= @name %></h2>
	<h2>The Price $<%= @stock %></h2>
	<!--
	<img src="https://pmcvariety.files.wordpress.com/2016/01/top-gun.jpg" alt="">
	-->

</body>
</html>