<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>WELCOME</h1>
  <h2>Stock App</h2>
  <p><%= @result  %></p>

</body>
</html>
