<!-- this is a generic about this movie info app page with no forms -->

<form action="/result" method="get">
  <label for="input">Search for Movie Title</label>
  <input type="text" id="input">

  <label for="amount">amount</label>
  <input type="text" id="amount" name="amount">
  <button>donate kidney to save dolphin</button>
</form>
