<!-- this is the home page with the two forms -->

<form action="/display" method="get">
  <label for="input">email</label>
  <input type="text" id="input">

  <label for="amount">amount</label>
  <input type="text" id="amount" name="amount">
  <button>donate kidney to save dolphin</button>
</form>
