<!-- whatever's in layout is in every page -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Antz Movie Database</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://kingofwallpapers.com/dolphin/dolphin-007.jpg" />
  </head>

  <body>
    <h1>Sea World</h1>
    <%= yield %>
    <img src="http://kingofwallpapers.com/dolphin/dolphin-007.jpg" alt="Dolphin">
    <%= yield %>
  </body>
</html>
