
<!-- about the website -->

<div id="info">
	Hello everyone, Thanks for stopping by. This is the worlds largest Minimilistic Movie searching database. Its really fast and efficiant. HAppy searching crew. 
</div>