
<!-- This is the home page -->
	
<form action="/display" method="get">
	
	<label for="movie">Search for a movie</label>
	<input type="text" id="movie" name="movie_search">
		
	<button>search</button>
</form>

<a href="/about">about this page</a>
