* {
  box-sizing: border-box;
}

body {
  display: flex;
}

.mainDiv {
  width: 23%;
  border-radius: 10px;
  margin: 1%
  /*height: 300px; let it stretch*/
  background-color: plum;
}

.headerCol p {
  margin-top: 10px;
}

.roundLogo {
  border-radius: 10px;
  background-color: grey;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  float: left;
  margin-right: 10px;
}

.headerCol, .footerCol {
  padding: 20px;
  display: inline-block;
  width: 48%;
}

.tempLeft {
  display: inline-block;
}

.tempRight {
  display: inline-block;
  text-align: right;
}

.rightFooter {
  text-align: right;
}

.content {
  background-color: grey;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin: 5px;
  padding: 8px 0 0 8px;
  font-size: 1.3em
}

h3 {
  margin: 5px;
  padding: 0 0 0 8px;
  font-size: 1em;
}
