
<!-- <h2 id ='search'>Search Movie</h2> -->

<form action="/movies_search" method = "get">
  <p id ='search'><label for = "movie">Search Movie</label></p>
  <input type="text" id = "movie" name = "movie" placeholder = "type movie title">

  <button>search</button>


 <p><a href = "/about">go to about</a></p>
