<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>Stock App</title>
  </head>
  <body>
    <h2>Welcome</h2>
    <% @last_trade %>
    <p><%= @last_trade %> for this stock</p>
    <% end %>
  </body>
</html>
