<article>
  <p>Antz movie lookup page is built using HTML, CSS and embedded Ruby.</p>
  <p>It also incorporates HTTParty, Sinatra and Sinatra reloader</p>
  <p>When a movie title is entered into the form within the index.erb file it searches the OMDB API</p>
  <p>The results are output to a new page from a file called display.erb</p>
</article>
