body {
  background-color: #D3D3D3;
}

.wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin: 1px 40px;
}

.topLogo {
   background-image: url("../images/background.jpg");
   background-repeat: repeat-x;
   text-align: justify;
}


.mainLogo {
  margin: -160px;
  text-align: center;
}



.leftCol {
  display: inline-block;
  box-sizing:border-box;
  background-color: white;
  margin: 200px 10px 10px 20px;
  padding: 40px 10px 40px 10px;
  width: 640px;
}

.rightCol {
  width: 260px;
  box-sizing:border-box;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 200px 10px 10px 10px;
  background-color: white;
  padding-bottom: 30px;
}


.firstPart, .secondPart {
  padding-bottom: 30px;
}

h1,p {
  text-align: left;
  padding: 10px 10px 10px 10px;
}

span{
  color: orange;
  font-weight: 700;
}

ul {
  list-style: none;
  font-size: 9px;
  font-weight: 700;
  padding: 20px 20px 0px 20px;
}

img, {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.rightColImg {
  margin: 5px 10px 15px 20px;
}

.postedBy {
  margin: 0px 10px 0px 10px;
  border-top: 2px dashed black;
  border-bottom: 1px solid grey;
}


footer {
  margin: 40px;
}
